@charset "utf-8";
/*test*/
.mSwipeChild .p1{
    background-color: #960;
}
.mSwipeChild .p2{
    background-color: #C96;
}
.mSwipeChild .p3{
    background-color: #96F;
}
.mSwipeChild .p4{
    background-color: #093;
}
.mSwipeChild .p5{
    background-color: #69F;
}
.mSwipeChild .p6{
    background-color: #93C;
}
.mSwipeChild .p7{
    background-color: #96F;
}
.mSwipeChild .p8{
    background-color: #960;
}
.mSwipeChild .p9{
    background-color: #69F;
}
.mSwipeChild .p10{
    background-color: #96F;
}
.mSwipeChild .page h1{
    font-size: 20px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background-color: #555;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    position: relative;
    top: 20px;
}
.mSwipeChild .page p{
    width: 50%;
    margin: 10px auto 0;
    background-color: #555;
    font:16px/2 'Microsoft YaHei';
    color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}
/*btn*/
.indexHeader{
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #444;
    z-index: 100;
}
.indexHeader ul{
    width: 100%;
    height: 80px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;

}
.indexHeader li{
    float: left;
    background-color: #343434;
    width: 20%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}
.indexHeader li:active{
    background-color: #111;
    color: #fff;
}