@charset "utf-8";
/*page.css*/
.mSwipe-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 1);
}
.mSwipe-wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.mSwipe-items{
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-property: transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.mSwipe-items[data-slide='curr']{
    z-index: 2;
}
.mSwipe-items[data-slide='prev'],
.mSwipe-items[data-slide='next']{
    z-index: 3;
}
.mSwipe-items > .page{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
}
.mSwipe-icons{
    list-style: none;
    position: absolute;
    right: 5%;
    top: 50%;
    z-index: 11;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mSwipe-icons li{
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #444;
    margin-bottom: 5px;
}
.mSwipe-icons li:last-child{
    margin-bottom: 0;
}
.mSwipe-icons li.active{
    background-color: #ff3;
}