@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html{
	font-size: 10px;
}
html,
body,
.pageContainer{
	width: 100%;
	height: 100%;
    background-color: rgba(0,0,0,0.5);
}
ul,
li{
	list-style: none;
}
.pa{
    position: absolute;
}
.pr{
    position: relative;
}
/*page.css*/
.mSwipe-wrap{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
	background-color: rgba(0,0,0,0);
}
.mSwipe-items{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
    overflow: hidden;
	display: none;
    -webkit-transition-property:all;
    transition-property:all;
}
.mSwipe-items[data-slide=prev],
.mSwipe-items[data-slide=curr],
.mSwipe-items[data-slide=next]{
	display: block;
	z-index: 3;
}
.mSwipe-items[data-slide=none]{
    display: none;
}
.mSwipe-items[data-slide=curr]{
	z-index: 2;
}
.page{
    position: relative;
    width: 100%;
    height: 100%;
}
/*common*/
.logo {
    width: 62.5%;
    top: 6%;
    left: 0;
}
.tel {
    width: 11.25%;
    top: 22.35915492957746%;
    right: 0;
}
.p1 > .text_1,
.p2 > .text_1,
.p3 > .text_1,
.p4 > .text_1,
.p5 > .text_1 {
    width: 72.8125%;
    left: 22%;
    top: 40%;
}
.p1,
.p2,
.p3,
.p4,
.p5,
.p6{
    background-size: 100% 100% !important;
}

/*p1*/
.p1{
    background: url("../img/page1.jpg") no-repeat center center;
}

.p1 .text_2{
    width: 79.0625%;
    margin-left: -39.5%;
    left: 50%;
    top: 67%;
}
/*p2*/
.p2{
    background: url("../img/page2.jpg") no-repeat center center;
}

.p2 .text_2{
    width: 78.125%;
    margin-left: -34%;
    left: 50%;
    top: 67%;
}
/*p3*/
.p3{
    background: url("../img/page3.jpg") no-repeat center center;
}

.p3 .text_2{
    width: 79.6875%;
    margin-left: -35.3%;
    left: 50%;
    top: 67%;
}
/*p4*/
.p4{
    background: url("../img/page4.jpg") no-repeat center center;
}

.p4 .text_2{
    width: 78.125%;
    margin-left: -34%;
    left: 50%;
    top: 67%;
}
/*p5*/
.p5{
    background: url("../img/page5.jpg") no-repeat center center;
}

.p5 .text_2{
    width: 79.375%;
    margin-left: -35.2%;
    left: 50%;
    top: 67%;
}
/*p6*/
.p6{
    background: url("../img/page6.jpg") no-repeat center center;
}

.p6 .text_1{
    width: 100%;
    left: 0;
    top: 10%;
}
.p6 .text_2{
    width: 77.65625%;
    margin-left: -38.8%;
    left: 50%;
    top: 52%;
}
.p6 .text_3{
    width: 74.84375%;
    margin-left: -37.4%;
    left: 50%;
    top: 73%;
}
